<audio #bgMusic loop>
  <source src="assets/wedding-music.mp3" type="audio/mpeg" />
</audio>

<div class="app-shell luxury-bg">
  <div *ngIf="!opened" class="intro-screen">
    <div class="overlay"></div>

    <div class="intro-content fade-in">
      <div class="bismillah gold-text">بِسْمِ ٱللَّٰهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ</div>

      <div class="photo-frame zoom-in">
        <img src="assets/couple-intro.jpeg" alt="Couple portrait" />
      </div>

      <p class="eyebrow">Wedding Invitation</p>
      <h1>Fathima Sufna</h1>
      <div class="divider"></div>
      <h2>Shahul Hameed</h2>

      <button class="gold-button" (click)="openInvitation()">open</button>
    </div>
  </div>

  <main *ngIf="opened" class="main-content">
    <section class="card center-card slide-up">
      <p class="arabic gold-text">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم</p>
      <div class="mini-divider"></div>
      <p class="label">Wedding Date</p>
      <h3>12 April 2026 | Sunday</h3>
      <p class="subtext">24 Shawwal 1447</p>

      <a class="gold-button inline-button" [href]="calendarUrl" target="_blank">
        Save to Google Calendar
      </a>
    </section>

    <section class="card center-card slide-up">
      <p class="arabic gold-text">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم</p>
      <p class="salam">السلام عليكم ورحمة الله وبركاته</p>
      <div class="mini-divider"></div>

      <p class="quran-line">وَمِنْ آيَاتِهِ أَنْ خَلَقَ لَكُمْ مِنْ أَنْفُسِكُمْ أَزْوَاجًا</p>
      <p class="quran-line">لِتَسْكُنُوا إِلَيْهَا وَجَعَلَ بَيْنَكُمْ مَوَدَّةً وَرَحْمَةً</p>
      <p class="quran-line">إِنَّ فِي ذَٰلِكَ لَآيَاتٍ لِقَوْمٍ يَتَفَكَّرُونَ</p>

      <p class="translation">
        “And among His signs is that He created for you spouses from among
        yourselves, that you may find tranquility in them; and He placed
        between you affection and mercy.”
      </p>
    </section>

    <section class="card center-card slide-up">
      <p class="label">Countdown</p>
      <h3>Until Our Wedding Day</h3>

      <div class="countdown-grid">
        <div class="count-box">
          <span>{{ timeLeft.days < 10 ? '0' + timeLeft.days : timeLeft.days }}</span>
          <small>Days</small>
        </div>

        <div class="count-box">
          <span>{{ timeLeft.hours < 10 ? '0' + timeLeft.hours : timeLeft.hours }}</span>
          <small>Hours</small>
        </div>

        <div class="count-box">
          <span>{{ timeLeft.minutes < 10 ? '0' + timeLeft.minutes : timeLeft.minutes }}</span>
          <small>Minutes</small>
        </div>

        <div class="count-box">
          <span>{{ timeLeft.seconds < 10 ? '0' + timeLeft.seconds : timeLeft.seconds }}</span>
          <small>Seconds</small>
        </div>
      </div>
    </section>

    <section class="image-card slide-up">
      <img src="assets/bride.jpeg" alt="Bride portrait" />
      <div class="image-overlay">
        <p class="label">Bride</p>
        <h3>Fathima Sufna</h3>
        <h4>D/O Mr. Abdul Jabbar and Mrs. Sajeera</h4>
        <p>
          Visharath, Thanalur, KT Jaram.
        </p>
      </div>
    </section>

    <section class="image-card slide-up">
      <img src="assets/groom.jpeg" alt="Groom portrait" />
      <div class="image-overlay">
        <p class="label">Groom</p>
        <h3>Shahul Hameed</h3>
        <h4>S/O Mr. Haneefa and Mrs. Ramla</h4>
        <p>
          Pullooni, Meenadathur, Valiyapadam.
        </p>
      </div>
    </section>

    <section class="card center-card slide-up">
      <h3>Venue</h3>
      <p class="subtext">
        Hooriya Auditorium Puthentheru, Puthantheru, Thanalur, Kerala 676307
      </p>

      <div class="qr-box">
        <img src="assets/location-qr.jpeg" alt="Location QR code" />
        <p class="qr-text">Scan for location</p>
      </div>

      <a class="gold-button inline-button" [href]="mapsUrl" target="_blank">
        Open in Google Maps
      </a>
    </section>
    <section class="card slide-up">
      <div class="excite-card">
        <div class="excite-title">
          How excited are you for our special day?
        </div>

        <input type="range" min="0" max="100" [(ngModel)]="excitement" class="excite-slider" />

        <div class="excite-result">
          {{getExcitement().emoji}} {{getExcitement().text}}
        </div>

      </div>
    </section>

    <section class="card slide-up">
      <h3 class="center">Send Your Wishes</h3>
      <p class="center subtext">
        Share your duas, blessings, and messages for the couple 💛
      </p>

      <div class="form-area">
        <input [(ngModel)]="form.name" placeholder="Your Name" />
        <textarea
          [(ngModel)]="form.message"
          rows="4"
          placeholder="Write your wishes..."
        ></textarea>
        <button class="gold-button full-button" (click)="submitWish()">
          Send Wishes
        </button>
      </div>

      <div class="comments-list">
        <div class="comment-box" *ngFor="let comment of comments">
          <p>{{ comment.message }}</p>
          <small>— {{ comment.name }}</small>
        </div>
      </div>
    </section>
  </main>
</div>